<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="nav-close"><i class="fa fa-times-circle"></i> </div>
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
            <span><img alt="image" class="img-circle" src="/Public/Front/img/avatar.jpg"
                       style="width: 64px;height: 64px;"></span>
		  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span class="clear">
                  <span class="block m-t-xs">
                      <strong class="font-bold"><{$member.username}></strong>
                  </span>
              </span>
          </a>
            <span style="color:#F30">
                <switch name="member.groupid">
				    <case value="1">总管理员</case>
				</switch></span> 
				<p><a href="#" data-toggle="modal" data-target="#myModal">改密</a></p>
        </div>
        <div class="logo-element">MENU </div>
      </li>
	   <li> <a href="<{:C('HOUTAINAME')}>.html"> <i class="fa fa-home"></i> <span class="nav-label">管理首页</span>  </a></li>
      <li> <a href="#"> <i class="fa fa-asterisk"></i> <span class="nav-label">系统设置</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level">
		    <li> <a href="<{:U("System/base")}>" class="J_menuItem">基本设置</a></li>
            <li> <a href="<{:U("System/email")}>" class="J_menuItem">邮箱设置</a></li>
			<li> <a href="<{:U("Update/update")}>" class="J_menuItem">系统升级</a></li>
        </ul>
      </li>
        <li> <a href="#"> <i class="fa fa-user"></i> <span class="nav-label">用户管理</span> <span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li><a href="<{:U("Menu/index")}>" class="J_menuItem">权限管理</a></li>
                <li><a href="<{:U("Auth/index")}>" class="J_menuItem">用户组管理</a></li>
                <li><a href="<{:U("User/index")}>" class="J_menuItem">用户管理</a></li>
                <li><a href="<{:U("User/invitecode")}>" class="J_menuItem">邀请码管理</a></li>
            </ul>
        </li>
	  <li> <a href="#"> <i class="fa fa-book"></i> <span class="nav-label">文章管理</span> <span class="fa arrow"></span>
          </a>
        <ul class="nav nav-second-level">
		   <li><a href="<{:U("Content/articleclassadd")}>" class="J_menuItem">添加栏目</a></li>
		   <li><a href="<{:U("Content/category")}>" class="J_menuItem">栏目管理</a></li>
		   <li><a href="<{:U("Content/add")}>" class="J_menuItem">添加文章</a></li>
		   <li><a href="<{:U("Content/")}>" class="J_menuItem">文章管理</a></li>
        </ul>
      </li>

      <li> <a href="#"> <i class="fa fa-bank"></i> <span class="nav-label">接口管理</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li><a href="<{:U("Channel/index")}>" class="J_menuItem">供应商通道管理</a></li>
            <li><a href="<{:U("Channel/product")}>" class="J_menuItem">支付产品管理</a></li>
        </ul>
      </li>
	    <li> <a href="#"> <i class="fa fa fa-sellsy"></i> <span class="nav-label">交易管理</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level">
			<li><a href="<{:U("Order/index")}>" class="J_menuItem">交易记录</a> </li>
		   <li> <a href="<{:U("Order/changeRecord")}>" class="J_menuItem">资金变动记录</a> </li>
 
        </ul>
      </li>
	      <li> <a href="#"> <i class="fa fa fa-cubes"></i> <span class="nav-label">提款设置</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level">
			  <li> <a href="<{:U("Withdrawal/setting")}>" class="J_menuItem">提款设置</a> </li>
			    <li><a href="<{:U("Withdrawal/index")}>" class="J_menuItem">提款记录</a> </li>
			   <li> <a href="<{:U("Withdrawal/payment")}>" class="J_menuItem">委托提款记录</a> </li>
 
        </ul>
      </li>
 
	  
	  
    </ul>
  </div>
</nav>
